*, *:before, *:after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    --whitebg:#eee;
    --linkcolor:#ffdeaa;
    --darklinkcolor: #6f5311;
    --accentcolor:#ca9e58;
    --headerfonts:Eyja, Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
    --archcolor: var(--mainbgcol);
    --darkerblue:#072441;
    --lighterseablue:#287ab1;
    --red:#d12229;
    --mainbgcol: #020221;
    --footerbgcol:black;
    --headerbgcol: var(--whitebg);
    --headercol: var(--red);
    --headersubscol: var(--darkerblue);
    --headerborder: var(--accentcolor) solid 10px;
    --colwidth: 24em;
    background: var(--mainbgcol);
    color: white;
    font-family: "freight-sans-pro", Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-size: 1rem;
    line-height:1.3rem;
    box-sizing:border-box;
    display:flex;
    flex-flow: column;
    height:100vh;
    align-content:space-between;
}

p {
    columns: var(--colwidth);
}

a {
    color: var(--linkcolor);
    text-decoration-thickness: 0.045em;
    pointer-events: all;
}

hgroup,h1,h2,h3 {
    font-family: var(--headerfonts);
    line-height:1.15;
}

.topnavbar {
    /* text-transform: uppercase; */
    display:flex;
    flex-flow: row wrap;
    gap: 2em;
    padding: 1.9em 1.5em 2em;
    justify-content: space-between;
    align-items:center;
    background:var(--headerbgcol);
    background-size:cover;
    color:var(--headersubscol);
    border-block-end: var(--headerborder);
    & a {
        color:unset;
        font-size:1.2rem;
    }
    & a:has(hgroup) {
        text-decoration:none;
        text-wrap: nowrap;
        max-width: 100%;
        font-size: unset;
    }
}

hgroup#maintitle {
    display:block;
    font-size:1.4rem;
    &>h1 {
        font-size:2em;
        font-weight: 100;
        color:var(--headercol);
        margin-block-end:0.2em;
    }
}
@media screen and (max-width: 600px) {
    hgroup#maintitle {
        font-size:4vw;
        &>p {
            font-size: 1.25em;
            text-wrap: wrap;
        }
    }
}

header, footer {
    height:min-content;
}

.modalcontainer {
    color: var(--darkerblue);
    visibility: hidden;
    position:fixed;
    inset:0;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    opacity:0;
    z-index:990;
    transition: all .4s;
    &#zoom {
        align-items:unset;
    }
    &:target {
        opacity: 1;
        visibility: visible;
    }
    & .modal {
        position: relative;
        background: var(--whitebg);
        & a {
            color: var(--darklinkcolor);
        }
        line-height: 1.2em;
        display:flex;
        align-items:flex-start;
        gap:1em;
        height:80cqh;
        &:before {
            pointer-events:none;
            position:absolute;
            content:"";
            top:10px;
            left:20px;
        }
        & h2 {
            text-transform: capitalize;
            padding-block: 1.5em 1em;
            font-size: 2rem;
        }
        &>.text {
            max-height:100%;
            overflow:auto;
            padding-inline: 3em 4em;
            padding-block-end:3em;
            & ul {
                margin-inline-start: 1em;
                &>li {
                    margin-block-end: 0.5em;
                }
            }
        }
        & p {
            text-transform: initial;
            min-width:20em;
            max-width: var(--colwidth);
            line-height: 1.3em;
            & br {
                margin-block-end: 1em;
            }
        }
        &>img {
            height:100%;
        }
    }
}

a.modal__close {
    position: absolute;
    font-size: 1.5rem;
    top: 15px;
    right: 15px;
    color: var(--darkerblue) !important;
    text-decoration: none;
    background:var(--whitebg);
    padding:5px;
}

@media screen and (max-width: 1076px) {
    .modalcontainer {
        &>.modal {
            flex-direction:column;
            align-items: center;
            overflow: auto;
            height:95cqh;
            width:95cqw;
            &>.modal__close {
                align-self:flex-end;
                position:sticky;
            }
            &>img {
                min-height:50cqh;
            }
            &>.text {
                max-height: none;
                overflow: clip;
            }
        }
    }
}
.zoommodal {
    overflow:auto;
    width:100%;
    display:flex;
    /* justify-content: center; */
    align-items: flex-start;
    &>img {
        max-width: 100vw;
        max-height:100vh;
        margin:0 auto;
        align-self:center;
    }
}
#zoomlinkbox {
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    padding: 15px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    .modal__close {
        font-size: unset;
    }
}

body:has(.modalcontainer:target) {
  overflow: hidden;
}

#cornermodallink {
    align-self: flex-end;
    height:100px;
    position:fixed;
    bottom:0;
    right:0;
    &:before {
      content: "";
      height: 100px;
      width: 90px;
      border-top-left-radius: 95px;
      background-color: var(--accentcolor);
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
}

footer {
    padding: 0.5em 0.8em;
    color: #aaa;
    background:var(--footerbgcol);
}

@media (width <= 1000px) {
    main.home>nav {
        &>ul>li {
            min-width: 100%;
        }
    }
}

main.home>nav {
    height:100%;
    width:100%;
    &>ul {
        height:100%;
        padding:0;
        display:flex;
        flex-wrap: wrap;
    }
    &>ul>li {
        position: relative;
        list-style-type: none;
        min-height: 60vh;
        flex:1;
        overflow:hidden;
        text-decoration:none;
        display:flex;
        flex-direction:column;
        justify-content:flex-end;
        &:hover, &:focus-within {
            --foo:bar;
        }
        &>.archbox {
            -webkit-mask-image:var(--arch-mask);
            mask-image:var(--arch-mask);
        }
        & img {
            position: absolute;
            inset:0;
            height:100%;
            object-position:center top;
            object-fit: cover;
            width: 100%;
            filter:brightness(80%);
            z-index:-1;
        }
        & hgroup.sectiontitle {
            padding-inline: 10%;
            padding-block:0.5em;
            color: white;
            align-self:center;
            width:100%;
            font-size:1.4rem;
            height: 8em;
            display:flex;
            flex-flow:column;
            justify-content:center;
            & h2 {
                font-size: 1.8em;
                margin-block-end: 0.2em;
            }
            & time {
                display: block;
            }
        }
        &:focus-visible>hgroup.sectiontitle {
            text-decoration:underline;
        }
        &>.archbox {
            position: absolute;
            inset:0;
            background-color:var(--archcolor);
            background-position-x: center;
            background-position-y:-1px;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-mask-size: cover;
            mask-size: cover;
            pointer-events:none;
        }
        &>ul {
            background:var(--archcolor);
            visibility: hidden;
            display: block;
            max-height: 0px;
            font-size:1rem;
            bottom:0;
            width:100%;
            text-align:center;
            list-style:none;
            transition: all 0.5s;
            &>li {
                max-height:0px;
                opacity:0;
                text-wrap:balance;
                transition: all 0.5s;
                padding:1em;
                &>a {
                    display:inline-block;
                    text-decoration:none;
                    max-width:80%;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
        &:hover > ul, &:focus-within > ul {
            visibility:initial;
            max-height:50%;
            &>li{
                max-height:100%;
                opacity:1;
            }
        }
    }
}

.casesnav {
    &>ul {
        display:flex;
        flex-flow: row nowrap;
        list-style:none;
        overflow:hidden;
        &>li {
            font-size:1.2rem;
            position:relative;
            flex:1;
            text-wrap: balance;
            padding: 1em;
            text-transform: uppercase;
            &:focus-visible:after {
                content:"";
                border:1px solid orange;
                position:absolute;
                inset:0;
            }
            &>ul {
                list-style:none;
                text-decoration:none;
                height: 0%;
                max-height:0px;
                visibility:hidden;
                opacity:0;
                transition:max-height 0.5s, visibility 0.6s, opacity 0.5s;
                &>li {
                    max-height:0px;
                    transition: all 0.5s;
                    text-transform: initial;
                    font-size: 1rem;
                    padding-block-start: 1em;
                    & a {
                        text-decoration:none;
                        &:hover {
                            text-decoration:underline;
                        }
                    }
                }
            }
            &:has(:hover), &:has(:focus-visible) {
                &>li>ul {
                    visibility:initial;
                    height:100%;
                    max-height:200px;
                    opacity:1;
                    &>li {
                        max-height:200px;
                    }
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction:row;
    flex: 1;
}

section#case {
    padding:1em;
    flex:3;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    & a {
        /* flex:400px; */
        height: 450px;
        min-width: 26%;
    }
    & img {
        object-fit:contain;
        width: 100%;
        height:100%;
        padding: 0.5em;
    }
    & h2 {
        position:sticky;
        display:block;
        background: var(--mainbgcol);
        width:100%;
        font-size:2rem;
        padding: 0.5em;
        top:0;
    }
    & #casedescription {
        display:block;
        padding-inline: 1em;
        padding-block:1em;
        flex-grow:1;
        width: 100%;
        &>p {
            column-width:100cqw;
        }
    }
}

section#item {
    display: flex;
    flex-flow: column;
    flex:1;
    position:relative;
    --labelmargin: 100px;
    --labelheight: 60px;
    & .imgwrapper {
        flex: 1;
        margin: 1em 1em 10px;
        position:relative;
        &>img {
            width:100%;
            max-height:100%;
            position:absolute;
            object-fit:contain;
            /* padding-block-end:var(--labelheight); */
        }
    }
    & .imgwrapper::before {
        content: "↔";
        position: absolute;
        top: 5px;
        left: 5px;
        background: white;
        z-index: 1;
        color: var(--darkerblue);
        padding: 0.38em 0.55em 0.5em;
        rotate: -45deg;
        border-radius: 100%;
        opacity: 0.85;
    }
    & .nextprev {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        font-size: 3rem;
        text-decoration: none;
        padding: 0.1em 0.15em 0.35em;
        color:var(--darkerblue);
        background:var(--whitebg);
        &#prev {
            left:0;
        }
        &#next {
            right:0;
        }
    }
    & #itemdescbox {
        /* position:absolute; */
        bottom:0;
        right:0px;
        width: 100%;
        max-height: 18em;
        background: rgba(255,255,255,0.9);
        & a {
            color: var(--darklinkcolor);
        }
        color:black;
        padding: 1em;
        display:flex;
        flex-flow: column;
        &>details {
            display:contents;
            &>summary {
                cursor:pointer;
                display:flex;
                &::marker {
                    font-size:1.5rem;
                    content:"";
                }
                &:before {
                    content:"";
                    transition: all 0.2s;
                    align-self:flex-start;
                    font-size: 1.2rem;
                    translate: 0 4px;
                    margin-inline-end:0.6em;
                    border: 0.5em solid transparent;
                    border-left: 0.8em solid black;
                    border-right: none;
                }
                &>h2 {
                    display: inline-block;
                    /* margin-inline-end: var(--labelmargin); */
                    width:90%;
                }
            }
            &>#itemdesc {
                display:flex;
                flex-flow: row wrap;
                gap: 1em;
                overflow:auto;
                padding-inline-end: var(--labelmargin);
                margin-block-start:1em;
                padding-inline-start: 2em;
                text-wrap: pretty;
                &>p {
                    column-width:100cqw;
                    height:fit-content;
                }
                &>p:first-child {
                    flex: 18em 0 0;
                    line-height:1em;
                }
                &>p:last-child {
                    border-block-start: 1px solid black;
                    padding-block-start: 1em;
                    flex: 30em 1;
                }
                & br {
                    content:"";
                    display:block;
                    margin-block-end: 0.5em;
                }
            }
        }
    }
}
#itemdescbox:has(details[open]) {
    position:absolute;
}
details[open] > summary:before {
    rotate:90deg;
}

.leftnav {
    flex-basis: 300px;
    height:100%;
    --navborder: 1px solid var(--accentcolor);
    & .modal__close {
        visibility:hidden;
        opacity:0;
    }
    & a {
        text-decoration:none;
        color:white;
    }
    &>ul {
        list-style: none;
        & li {
            & li, & div {
                padding: 0.6em 0.8em;
            }
            & li {
                padding-inline-start:1.5em;
                position: relative;
                margin-inline-start: 0.8em;
                list-style: none;
            }
            & div {
                padding-block: 1em;
                position:relative;
                &:before {
                    content:"";
                    position:absolute;
                    right:1em;
                    transition: all 0.2s;
                    translate: 0 5px;
                    border: 0.35em solid transparent;
                    border-left: 0.6em solid white;
                    border-right: none;
                }
            }
            & ul {
                pointer-events:none;
                visibility:hidden;
                overflow:hidden;
                max-height:0;
                transition: all 0.5s;
                position: relative;
                &:before {
                    content:"";
                    position:absolute;
                    inset:0.8em;
                    top:0;
                    border-top:var(--navborder);
                }
            }
            &.open,&:has(:focus-visible) {
                &>div:before {
                    rotate:90deg;
                }
                &>ul{
                    max-height:400px;
                    visibility:visible;
                    padding-block:0.6em;
                    transition: all 0.2s;
                }
            }
        }
    }
    & li li:has(a.active) {
        position:relative;
        /*border-right:-1px solid black;
        border-top: var(--navborder);
        border-bottom: var(--navborder);
        margin-right:-1px;*/
        & a.active {
            text-decoration: none;
        }
        &:before {
            content: "";
            position: absolute;
            border-inline-start: 5px solid var(--accentcolor);
            inset: 0;
        }
    }
}

#breadcrumb {
    display:none;
    visibility:hidden;
}
@media screen and (max-width:900px) {
    main {
        flex-direction: column;
    }
    #breadcrumb {
        display: flex;
        visibility:visible;
        justify-content: center;
        padding: 1em 2em;
        & > .breadcrumb {
            display: flex;
            flex-flow: row wrap;
        }
    }
    .leftnav {
        position:fixed;
        inset: 5vmin;
        margin-block-start:3em;
        z-index: 990;
        visibility:hidden;
        opacity:0;
        display:none;
        transition:all 0.5s;
        &:before {
            position:fixed;
            content:"";
            inset:0;
            background:#666;
            opacity: 0;
        }
        & .modal__close {
            visibility: visible;
            opacity: 1;
            position:fixed;
        }
        &>ul {
            margin-block-start:2em;
            position: absolute;
            &>li {
                &>div:before {
                    display:none;
                }
                &>ul{
                    max-height:400px;
                    visibility:visible;
                    padding-block:0.6em;
                    transition: all 0.2s;
                }
            }
        }
    }
    #nav:target {
        visibility:visible;
        opacity:1;
        display:block;
        &:before {
            visibility:visible;
            opacity: 0.8;
            display:block;
        }
    }
    section#item {
        overflow:auto;
        &>.nextprev {
            position: fixed;
        }
        &>#itemdescbox {
            max-height:none;
            position:relative;
            &>details>#itemdesc {
                padding-inline-end: 2.5em;
            }
        }
        &>.imgwrapper{
            max-height:60vh;
            &>img {
                max-height:100%;
                position:relative;
            }
        }
    }
}

.sticky {
    position:sticky;
    top:0;
    left:0;
}

.border {
    --borderheight:36px;
    margin:0;
    height:var(--borderheight);
    background: var(--accentcolor);
    border:none;
    &:after {
        content:"";
        height:var(--borderheight);
        background-color:black;
        display:block;
        mask-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20410%20410%22%3E%3Cpath%20d%3D%22%20%20M5%20205%20%20L205%205%20%20L405%20205%20%20L205%20405%20%20Z%22%20fill-rule%3D%22nonzero%22%2F%3E%3Cpath%20d%3D%22%20%20M5%20205%20%20L205%205%20%20L405%20205%20%20L205%20405%20%20Z%22%20%20transform-origin%3D%22center%22%20%20transform%3D%22rotate(45)%22%20%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
        mask-repeat:repeat-x;
        mask-size:var(--borderheight);
    }
}

.breadcrumb {
    list-style: none;
    &>li{
        display: inline;
        &:after {
            margin-inline:0.5em;
            vertical-align:-2px;
            font-size: 1.2em;
            content:"/";
        }
        &:last-of-type:after{
            content:none;
        }
    }
}

main.landing {
    flex-direction:column;
    padding-block-end:3em;
    & .banner {
        position:relative;
        margin-block-end:3em;
        &>img {
            width:100%;
        }
        &>hgroup#maintitle {
            position: absolute;
            bottom: 0;
            padding: 1em;
            background: rgba(255,255,255,0.8);
            color: var(--darkerblue);
            width: 100%;
            font-size: 2rem;
            text-align: center;
        }
    }
    & p {
        width:min(50em,100%);
        margin:0 auto;
    }
    &>a {
        margin: 0 auto;
        font-size:1.4rem;
        font-family: var(--headerfonts);
        font-style:italic;
        margin-block-start:2em;
        text-decoration-thickness: 0.5px;
    }
}
